@{
    ViewData["Title"] = "Index";
}
<section class="Partido-conteiner">
    @for(int i = 0; i<ViewBag.ListaPartidos.Count; i++){
            <div>
                <h2>@ViewBag.ListaPartidos[i].Nombre</h2>
                <img src="~/Imagenes/@ViewBag.ListaPartidos[i].Logo">
                <a href='@Url.Action("VerDetallePartido", new{idPartido=ViewBag.ListaPartidos[i].IdPartido})'><i class="fa-solid fa-eye"></i></a>
            </div>
    }
</section>
<section class="link-central">
    <a href='@Url.Action("AgregarPartido")'><i class="fa-solid fa-circle-plus"></i></a>
</section>

