header{
  background-color: rgb(212, 208, 208);
  margin: 0;
  padding: 0;
}

header nav{ 
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; 
}

header a{
  width: 500px;
  font-size: 25px;
}

header img {
  width: 35%;
}

section {
  background-image: url("~/Imagenes/banderaFondo.jpg");
  
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}
